<div data-aos="fade-up">
  <div class="informacion">

    <img src="../../../assets/varios/banner.png" alt="">
    <p>
      Ubicada en un lugar de privilegio en el centro de la localidad de Avellaneda, Clínica Quevedo es reconocida en la ciudad por brindar una excelente prestación médica, basada en un constante crecimiento tecnológico y en un equipo de profesionales altamente capacitados para brindar la atención y contención que nuestros pacientes merecen.
    </p>
    <p>
      Para quienes trabajamos en Clínica Quevedo nuestra prioridad es la salud y el bienestar del paciente, fundamentado en la excelencia médica y en un ambiente y trato cálido y cordial.
    </p>
    <p>
      A fin de afianzar nuestro compromiso con la comunidad, Clínica Quevedo, se encuentra hoy en una importante etapa de expansión en infraestructura edilicia y en incorporación de equipamiento y tecnología de última generación.
    </p>
    <p>
      Se han inaugurado recientemente ocho consultorios externos totalmente equipados para dar respuesta a la creciente necesidad de atención médica especializada y se han renovado los servicios de Imágenes y Laboratorio, los cuales brindan atención médica durante las 24 hrs.
    </p>
    <p>
      El área quirúrgica, además de funcionar las 24 horas, los 365 días del año, ha renovado recientemente sus máquinas de anestesia y sus lámparas cialíticas LED, entre otros equipamientos, afianzando así el compromiso con nuestros pacientes.
    </p>

  </div>

  <div class="fw-bold contacto">
    Dirección: Av. Bartolomé Mitre 750, Provincia de Buenos Aires
  </div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1160.254163187664!2d-58.36546142046891!3d-34.662421325171486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3334e1e773297%3A0x38b223e10c24ff93!2sUniversidad%20Tecnol%C3%B3gica%20Nacional%3A%20Facultad%20Regional%20Avellaneda!5e0!3m2!1ses-419!2sar!4v1686869166379!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="fw-bold contacto">
    Telefono de contacto: 4444-4444 / Email: info@clinica-quevedo.com.ar
  </div>

</div>
