@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,600&display=swap');

h1{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 35pt;
  text-decoration: underline;
  margin: 20px;
}
p{
  margin: 10px;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.informacion{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

iframe{
  margin-top: 20px;
}
