@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,600&display=swap');

h4{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 25pt;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader{
  width: 100px;
  height: 100px;
}

.registrarse{
  display: flex;
  width: 100%;
}

.eleccion,
.divPaciente,
.divEspecialista{
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.divPaciente,
.divEspecialista{
  padding: 30px;
  display: flex;
  flex-direction: column;
}

h2, button{
  margin: 10px;
}

button{
  margin-top: 0;
}

.imagen{
  width: 50%;
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.imagen::before{
  content: "";
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 100vh;
  background-image: url(../../../assets/registracion.avif);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  opacity: 0.8;
}

h2,p{
  margin: 60px;
}
h2{
  margin-bottom: 10px;
}
p{
  margin-top: 10px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 30px;
}

.spinner{
  width: 5%;
}

.especialidad{
  display: flex;
  flex-direction: row;
}

.comboEsp{
  width: 45%;
}

.otrasEsp{
  width: 55%;
}

.btn-paciente,
.btn-especialista{
  height: 250px;
  font-size: 25pt;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: end;
}

.btn-paciente:hover,
.btn-especialista:hover{
  color: red;
}

.btn-paciente{
  background-image: url(../../../assets/botones/paciente-boton.avif);
  background-size: cover;
  background-position: 0;
}

.btn-especialista{
  background-image: url(../../../assets/botones/especialista-boton.jpg);
  background-size: cover;

}


