<main data-aos="fade-left">
  <div class="consultorio">
    <div class="container">
      <div class="d-flex">
        <div class="row text-white servicios">
          <h2 appTitulo>SERVICIOS DE SALUD DE ALTA CALIDAD</h2>
          <p>
            <em>
              Brindamos servicios con eficiencia, honestidad y calidez, con un excelente equipo humano<br>
              comprometidos con la recuperación y reinserción social de nuestros pacientes.
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <app-valores></app-valores>

  <div class="imagenes">
    <h2 class="mensaje">Los mejores medicos a tu alcance</h2>
    <div class="medicos" data-aos="flip-right" data-aos-duration="2000">
      <img src="../../../assets/medicos.jpg" alt="">
    </div>
  </div>

  <div class="imagenes2" >
    <div class="medicos" data-aos="fade-up" data-aos-duration="2000">
      <img src="../../../assets/electrocardio.jpg" alt="">
    </div>
    <h2 class="mensaje">Tecnología de ultima generación</h2>
  </div>

  <app-coberturas></app-coberturas>

</main>

