img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

h2,
h5{
  margin: 5px;
}

.contenido{
  width: 900px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.nombre{
  display: flex;
  flex-direction: row;
}

.datos,
.botones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.imagen{
  width: 300px;
}
