<div *ngIf="turnoElegido == undefined" class="d-flex justify-content-center contenido shadow p-3 mb-5 bg-body-tertiary rounded">
  <h4>No seleccionó ningún turno!</h4>
</div>
<div *ngIf="turnoElegido != undefined" class="d-flex justify-content-center contenido-info shadow p-3 mb-5 bg-body-tertiary rounded">
  <div class="imagen">
    <img *ngIf="turnoElegido.rol == 'especialista' || turnoElegido.rol == 'admin'" src="{{turnoElegido.img}}" alt="">
    <img *ngIf="turnoElegido.rol == 'paciente'" src="{{turnoElegido.imgs.url1}}" alt="">
  </div>
  <div class="datos">
    <div class="nombre">
      <h2>{{turnoElegido.especialidad}}</h2>
      <h2>{{turnoElegido.especialista}}</h2>
    </div>
    <div>
      <h5>Email: {{turnoElegido.pacienteEmail}}</h5>
      <h5>Especialidad: {{turnoElegido.especialidad}}</h5>
      <h5>Especialista: {{turnoElegido.especialista}}</h5>
    </div>
  </div>
  <div class="botones">
    <!-- BOTONES CANCELAR-->
    <button *ngIf="turnoElegido.estado != 'realizado' && turnoElegido.estado != 'cancelado' " type="button" class="btn btn-danger" (click)="cancelarTurno(turnoElegido)">Cancelar Turno</button>
    <!-- BOTONES RESEÑA/COMENTARIO-->
    <button *ngIf="turnoElegido.resenia != '' || turnoElegido.comentarioPac != ''" type="button" class="btn btn-success" (click)="verResenaComentario(turnoElegido)">Ver Reseña/Comentario</button>
    <!-- BOTONES ENCUESTA-->
    <button *ngIf="turnoElegido.resenia != '' && turnoElegido.estado == 'realizado' && turnoElegido.encuesta == false" type="button" class="btn btn-success" (click)="completarEncuesta(turnoElegido)">Completar Encuesta</button>
    <button *ngIf="turnoElegido.resenia != '' && turnoElegido.estado == 'realizado' && turnoElegido.encuesta == true"  class="btn btn-info" >Encuesta Realizada
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
      </svg>
    </button>
    <!-- BOTONES ATENCION-->
    <button *ngIf="turnoElegido.estado == 'realizado' && turnoElegido.comentarioPac == ''" type="button" class="btn btn-success" (click)="calificarAtencion(turnoElegido)">Calificar Atención</button>
    <button *ngIf="turnoElegido.estado == 'realizado' && turnoElegido.comentarioPac != ''" type="button" class="btn btn-info">Atención Calificada
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
      </svg></button>
  </div>
</div>
