li{
  cursor: pointer;
}

.horario{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dia,
.hora{
  margin: 10px;
}

.row{
  display: flex;
  justify-content: center;
}

.btn-dias{
  width: 120px;
  height: 120px;
  font-size: 10pt;
  border-radius: 0;
}

.btn-horas{
  width: 100px;
  height: 50px;
  font-size: 10pt;
}


