<div id="container">
  <div id="box">
      <div id="barra">
        <input type="text" class="form-control" name="listadoFiltrado" placeholder="Buscar..." [(ngModel)]="listadoFiltrado">
      </div>
      <br>
      <table class="table table-responsive">
          <thead>
              <tr class="titulos">
                  <th>Paciente</th>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Especialista</th>
                  <th>Especialidad</th>
                  <th>Estado</th>
                  <th> </th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let turno of listadoTurnos | filtropipe : listadoFiltrado">
                  <td>{{turno.pacienteNombre}}</td>
                  <td>{{turno.fecha}}</td>
                  <td>{{turno.hora | horapipe}}</td>
                  <td>{{turno.especialistaNombre}}</td>
                  <td>{{turno.especialidad}}</td>
                  <td class="neon-verde" *ngIf="turno.estado == 'realizado'">{{turno.estado | titlecase}}</td>
                  <td class="neon-rojo" *ngIf="turno.estado == 'cancelado'">{{turno.estado | titlecase}}</td>
                  <td class="neon-amarillo" *ngIf="turno.estado != 'cancelado' && turno.estado != 'realizado'">{{turno.estado | titlecase}}</td>
                  <td>
                    <button type="button" class="btn btn-success  btn-circle" (click)="eligeTurno(turno)">
                      Más Detalles
                    </button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
