<header>
  <div class="px-3 py-2 text-bg-light border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="d-flex align-items-end my-2 my-lg-0 me-lg-auto text-black text-decoration-none">
          <img src="../../../assets/logo.png" alt="" width="70" height="70" class="bi me-2">
          <h4 class="text-black">Clinica Quevedo</h4>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a routerLink="" class="nav-link text-secondary">
              <img src="../../../assets/home.png" alt="" width="30" height="30" class="bi d-block mx-auto mb-1">
              Home
            </a>
          </li>
          <li>
            <a routerLink="nosotros" class="nav-link text-secondary">
              <img src="../../../assets/equipo-medico.png" alt="" width="30" height="30" class="bi d-block mx-auto mb-1">
              Nosotros
            </a>
          </li>
        </ul>

        <div class="text-end">
          <button type="button" class="btn btn-info me-2" routerLink="registro">Iniciar Sesión</button>
          <button type="button" class="btn btn-warning" routerLink="login">Registrarse</button>
        </div>

      </div>
    </div>
  </div>
</header>
