@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,600&display=swap');

h4{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 25pt;
}

small{
  margin-right: 0;
}

.cierre{
  margin-left: 0;
  height: 40px;
}

span{
  margin-right: 10px;
}


