.contenido-info{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  padding: 10px;
}

.contenido{
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
}

.botones,
.datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.datos{
  width: 70%;
}
.botones{
  width: 10%;
}

button{
  margin: 10px;
}

img{
  width: 150px;
  height: 150px;
}

.imagen{
  display: flex;
  align-items: center;
}
