@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,600&display=swap');

h1{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 25pt;
  margin-bottom: 50px;
}

.contenido{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 600px;
  margin: 50px;
}

.row{
  margin: 50px;
}

.diasLab{
  width: 100px;
  margin: 5px;
}

.accion-btn{
  margin: 10px;
}
