@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat+Alternates:ital,wght@1,600&display=swap');

h3{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 25pt;
  text-align: center;
  margin: 40px;
}

ngx-charts-bar-vertical, .btn{
  display: flex;
  justify-content: center;
}
