.card{
  margin-top: 70px;
  margin-bottom: 70px;
}

main{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.horarios{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 700px;
}
