<main data-aos="fade-left" data-aos-duration="2000" data-aos-offset="500">
  <h1>Mis Historias Clínicas</h1>

  <div *ngIf="historias != undefined && historias.length > 0">
    <!--SELECCION DE PACIENTE-->
    <div >
     <h3 class="fw-bold">Seleccione el Paciente:</h3>
     <div class="container-fluid btnEspecialidades tablaPac" >
       <tr *ngFor="let pac of pacientesFiltrados" >
         <div class="tarjeta" (click)="eligePaciente(pac)">
           <img src="{{pac.imgs.url1}}" class="card-img-top" alt="...">
           <h5 class="fw-bold">{{pac.nombre}} {{pac.apellido}}</h5>
         </div>
       </tr>
     </div>
    </div>

    <div *ngIf="historiasPac != undefined && historiasPac.length > 0">
      <h3 class="fst-italic fw-bolder">Historias Clínicas del Paciente:</h3>
      <div class="barra">
        <input type="text" class="form-control" name="historiasFiltradas" placeholder="Buscar..." [(ngModel)]="historiasFiltradas">
      </div>
      <div *ngFor="let historia of historiasPac | historiaspipe : historiasFiltradas">
        <p>
          <a class="btn btn-primary" data-bs-toggle="collapse" href="#{{historia.id}}" role="button" aria-expanded="false" >
            {{historia.turno.especialidad|titlecase}} - {{historia.turno.fecha}} - {{historia.turno.hora}}
          </a>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="{{historia.id}}">
              <div class="card historia">
                <h5 class="card-header fst-italic fw-bolder">Datos del Turno</h5>
                <div class="card-body">
                  <h5 class="fst-italic fw-bolder datosad">Datos del Paciente</h5>
                  <h5 class="card-title">Paciente: {{historia.turno.paciente.nombre}} {{historia.turno.paciente.apellido}}</h5>
                  <h5 class="card-title">Obra Social: {{historia.turno.paciente.obrasocial}}</h5>
                  <h5 class="card-title">Edad: {{historia.turno.paciente.edad}}</h5>
                  <h5 class="card-title">Email: {{historia.turno.paciente.email}}</h5>
                  <h5 class="fst-italic fw-bolder datosad">Datos del Turno</h5>
                  <h5 class="card-title">Especialidad: {{historia.turno.especialidad | titlecase}}</h5>
                  <h5 class="card-title">Fecha: {{historia.turno.fecha}}</h5>
                  <h5 class="card-title">Hora: {{historia.turno.hora}}</h5>
                  <h5 class="card-title">Altura: {{historia.altura}}</h5>
                  <h5 class="card-title">Peso: {{historia.peso}}</h5>
                  <h5 class="card-title">Temperatura: {{historia.temperatura}}</h5>
                  <h5 class="card-title">Presion: {{historia.presion}}</h5>
                  <div *ngIf="historia.clave1 != '' || historia.clave2 != '' || historia.clave3 != ''">
                    <h5 class="fst-italic fw-bolder datosad">Datos Adicionales</h5>
                    <h5 class="card-title" *ngIf="historia.clave1 != ''">{{historia.clave1}}: {{historia.valor1}}</h5>
                    <h5 class="card-title" *ngIf="historia.clave2 != ''">{{historia.clave2}}: {{historia.valor2}}</h5>
                    <h5 class="card-title" *ngIf="historia.clave3 != ''">{{historia.clave3}}: {{historia.valor3}}</h5>
                  </div>
                  <button type="button" class="btn btn-info" (click)="verResenia(historia)">Ver Reseña</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="historias == undefined || historias.length == 0">
    No posee registro de historias clinicas
  </div>
</main>

