<!-- SECCION COBERTURAS -->
<section class="coberturas" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="200">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="titulo">COBERTURAS</h2>
    </div>
    <div class="d-flex justify-content-center">
      <p>Una amplia gama de prestadoras de salud avalan y confían en la calidad de nuestra institución</p>
    </div>

    <div class="row">

      <div class="seccion">
        <div>
          <img src="../../../assets/ob sociales/accordsalud.jpg" alt="accord" class="obrasocial">
        </div>
        <div class="">
          <img src="../../../assets/ob sociales/galeno.jpg" alt="galeno" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/medicus.jpg" alt="medicus" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/osde.jpg" alt="osde" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/swissmedical.jpg" alt="swiss" class="obrasocial">
        </div>
      </div>

      <div class="seccion">
        <div class="" >
            <img src="../../../assets/ob sociales/unionpersonal.jpg" alt="union" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/italiano.jpg" alt="italiano" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/medife.jpg" alt="medife" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/femedica.jpg" alt="femedica" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/dosuba.jpg" alt="dosuba" class="obrasocial">
        </div>
      </div>

      <div class="seccion">
        <div class="" >
          <img src="../../../assets/ob sociales/prestacional.jpg" alt="prestacional" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/pami.jpg" alt="pami" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/ospecon.jpg" alt="ospecon" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/OSUTHGRA.jpg" alt="OSUTHGRA" class="obrasocial">
        </div>
      </div>

      <div class="seccion">
        <div class="" >
          <img src="../../../assets/ob sociales/osecac.jpg" alt="osecac" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/osdepym.jpg" alt="osdepym" class="obrasocial">
        </div>
        <div class="" >
          <img src="../../../assets/ob sociales/osapm.jpg" alt="osapm" class="obrasocial">
        </div>
        <div class="" >
            <img src="../../../assets/ob sociales/obsba.jpg" alt="obsba" class="obrasocial">
        </div>
      </div>

    </div>
  </div>
</section>
