.contenido-info{
  width: 1000px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
}

.contenido{
  display: flex;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
}

.botones,
.datos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.datos{
  width: 500px;
}
.botones{
  width: 350px;
}

button{
  margin: 10px;
}

img{
  width: 250px;
  height: 250px;
}
