<!-- SECCION VALORES -->
<section class="valores" data-aos="fade-right" data-aos-duration="2000" >
  <div class="container">
    <div class="d-flex justify-content-center">
      <h2 class="titulo">VALORES</h2>
    </div>
    <div class="m-5">
      <div class="row">

        <div class="col-lg-4 col-sm-6">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/icons/ico1.png" alt="">
          </div>
          <h4 class="d-flex justify-content-center">RESPONSABILIDAD</h4>
          <p class="text-center">
            Clínica Quevedo se encarga de analizar, trazar, fundamentar y realizar las acciones necesarias que permitan delinear las estrategías en función de la rehabilitación del paciente, siendo responsables en la transmisión de la información.
          </p>
        </div>

        <div class="col-lg-4 col-sm-6" >
          <div class="d-flex justify-content-center">
            <img src="../../../assets/icons/ico2.png" alt="">
          </div>
          <h4 class="d-flex justify-content-center">HONESTIDAD</h4>
          <p class="text-center">
            Clínica Quevedo tiene la convicción íntima, firme y constante de obrar siempre con el criterio justo, de lo bueno, de lo recto, de lo diáfano. En todo momento buscamos la transparencia y la integridad siendo rigurosamente fieles a los principios éticos y a las normas jurídicas, honrando los compromisos adquiridos con nuestros pacientes, con la institución, con los compañeros de trabajo, con la familia, con los amigos, con la sociedad y con nosotros mismos.
          </p>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/icons/ico3.png" alt="">
          </div>
          <h4 class="d-flex justify-content-center">RESPETO</h4>
          <p class="text-center">
            El respeto a la persona humana proviene de su dignidad como ser humano. Reconocer y valorar en las personas su inmensa diversidad de pensamiento, creencias y actitudes, es quizá la expresión máxima de respeto hacia ellas. La armonía en un conglomerado humano jamás podría existir sin la tolerancia de las individualidades. En la Clínica Quevedo cada paciente, cada profesional, cada persona que se acerca a nuestro lugar, es tan importante y valiosa como única.
          </p>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/icons/ico4.png" alt="">
          </div>
          <h4 class="d-flex justify-content-center">ARMONIA LABORAL</h4>
          <p class="text-center">
            En Clínica Quevedo existe el convencimiento de que nada retribuye mejor el esfuerzo de sus colaboradores que un ambiente propicio para el logro de sus ideales. Cada persona del equipo puede tener la certeza de encontrar en las políticas institucionales no sólo las mejores oportunidades de progreso, sino el entorno más favorable para su realización personal.
          </p>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/icons/ico5.png" alt="">
          </div>
          <h4 class="d-flex justify-content-center">COMPROMISO</h4>
          <p class="text-center">
            El compromiso es la motivación que hace que las personas logren volver realidad los sueños, las metas y los objetivos trazados en toda gran institución, es lo que hace a la excelencia. Implica el convencimiento individual de que lo que se hace, se hace por el logro de objetivos superiores que traen beneficios a la institución, a los pacientes y a nosotros mismos.
          </p>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/icons/ico6.png" alt="">
          </div>
          <h4 class="d-flex justify-content-center">COHERENCIA</h4>
          <p class="text-center">
            Todo lo que nos proponemos y decimos se traduce en acciones.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
