<main>
  <h1>Listado de Usuarios</h1>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Rol</th>
        <th class="email">Email</th>
        <th>Más</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista">
        <td>{{ item.nombre }}</td>
        <td>{{ item.apellido }}</td>
        <td>{{ item.rol | titlecase}}</td>
        <td class="email">{{ item.email }}</td>
        <td>
          <button type="button" class="btn btn-info" (click)="personaElegida(item)">+</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="lista != undefined">
    <button type="button" class="btn btn-info descarga" (click)="crearExcelPacientes(lista)">Descargar Excel Pacientes</button>
    <button type="button" class="btn btn-info descarga" (click)="crearExcelEspecialistas(lista)">Descargar Excel Especialistas</button>
  </div>
</main>
